<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    autoReload="true" 
    internalLogLevel="Info"
    throwConfigExceptions="true"
    internalLogFile="logs\nlog-Internal.log">

  <targets async ="true">
    <target xsi:type="Null" name="blackhole" />
    <target xsi:type="OutputDebugString" name="debugLogger" layout="${message}${exception:format=tostring}" />
    <target name="VlmsStorageMobileApiLog" xsi:type="File" archiveAboveSize="2000000" maxArchiveFiles="7" archiveEvery="Day"
          fileName="D:\ceva_log_apps\api_logs\CompanyCodeApiTemplateApi\log-${shortdate}.log"
          layout="${longdate}${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring} ${all-event-properties}"/>

    <target name="VCMS_DB" xsi:type="Database">
      <dbProvider>
        Npgsql.NpgsqlConnection,Npgsql, Version=4.0.7.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7
      </dbProvider>
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        insert into sys_log ( log_thread,log_level,log_logger,log_message,log_exception,log_source,log_type,app_type,device_name,user_agent,log_date, log_ip_address)
        values (@log_thread,@log_level,@log_logger,@log_message,@log_exception,@log_source,@log_type,@app_type,@device_name,@user_agent,@log_date, @log_ip_address);
      </commandText>
      <parameter name="@log_thread" layout="${threadname}" />
      <parameter name="@log_level" layout="${level}" />
      <parameter name="@log_logger" layout="${logger}" />
      <parameter name="@log_message" layout="${message}"/>
      <parameter name="@log_exception" layout="${exception:tostring}" />
      <parameter name="@log_source" layout="${aspnet-request-url}| action: ${aspnet-mvc-action}" />
      <parameter name="@log_type" layout="${all-event-properties:separator=|}" />
      <parameter name="@app_type" layout="VlmsStorageMobile" />
      <parameter name="@device_name" layout="${machinename}" />
      <parameter name="@user_agent" layout="${aspnet-user-identity}" />
      <parameter name="@log_date"   layout="${date}" />
      <parameter name="@log_ip_address" layout="${aspnet-request-ip}" />
    </target>
  </targets>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <rules>
    <logger name="*" minlevel="info" writeTo="debugLogger">
    </logger>
    <logger name="Microsoft.*" maxlevel="info" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Warn" writeTo="VCMS_DB">
      <when condition="length('${var:connectionString}') &lt; 1" action="IgnoreFinal" />
    </logger>
    <logger name="*" minlevel="info" writeTo="VlmsStorageMobileApiLog">
      <filters>
        <when condition="(level > LogLevel.Info and starts-with(logger, 'Microsoft'))" action="Log" />
        <when condition="starts-with(logger, 'Microsoft')" action="Ignore" />
      </filters>
    </logger>
    
  </rules>
</nlog>